'use strict';

// Expose the project specific config values to be used with
// the Grunt tools (see GruntFile.js).

// the temp directory serves as a temporary directory for files that
// must be compiled (in some form or another) before being processed.
// Files that do not require an intermediate process
// can be sent directly to their destination folder.
// This is useful for compiled stylesheets that will be
// post-processed before being sent to their destination folder.

module.exports = {
    browser: "google chrome",
    index: "src/index.html", 
    dist: "dist",
    dev: "src",
    demo: "demo",
    vendor : "vendor",
    js: "src/js/",
    html: "src/html/",
    scss: "src/scss/",
    temp: "tmp",
    aws: {
        accessKeyId: "****",
        secretAccessKey: "****"
    }
};
